/****** Selectores comunes a todos los documentos ******/

/* Selector universal, asigna fuente por defecto para todos los textos.
Se aplican fuentes en titulos y subtitulos sobreescribiendo la fuente base */
* {
    font-family: $glory;
}

/* Agrego selector para todos los documentos, para incluir un scroll a la 
hora de acceder a secciones vía anclas */
html{
    scroll-padding-top: 5.5rem;
}

/**************************** HEADER ******************************/

/* Selectores para estructura del contenido */
.encabezado {
    font-size: 1.3rem;

    &__navegacion {
        background-color: $negro;
        .container {
            justify-content: center;
        }
    }
    &__seccion {
        @include relleno(1,-1,1,-1);

        &--end {
            @include flex(row);
            justify-content: flex-end;
        }
    }

    &__contenido {
        width: 100%;
        align-items: center;
    }

    &__lista-enlaces {
        padding-inline-start: 0px;
        list-style: none;
    }

    &__logo {
        width: 130px;
        
        &:hover {
            @include zoom(5%,5%);
        }
    }

    &__submenu {
        background-color: $negro;
        width: 250px;
        font-size: 1.3rem;
    }

    &__enlace {
        @include relleno(-1,-1,-1,3);
        @include estilo-texto(negrita);
        color: $blanco !important;

        &:hover {
            background-color: $negro;
            color: $dorado !important;
        }

        &--activo {
            color: $dorado !important; /* Sobreescribe bootstrap */
            @include estilo-texto(negrita);
            @include estilo-texto(subrayado);
            text-underline-offset: 40%;
        }
    }

    &__menu-lateral {
        background-color: $negro;
        width: 320px;
    }

    &__submenu {
        li {
            a {
                @include relleno(-1,-1,-1,5);
            }
        }
    }
    
    &__lista-enlaces--margen .show {
        @include margenes(-1,-1,22,-1);
    }
}

.lista-rutas {
    background-color: $blanco;  
    border-top: $border-size $dorado solid; 
    border-bottom: $border-size*1.5 $dorado solid;  
    &__contenido {
        background-color: $negro;
        text-transform: uppercase;
        ol {
            @include margenes(-1,-1,0,-1);
            @include relleno(1,-1,1,2);
            li {
                @include estilo-texto(negrita);
                font-size: 1.3rem;
                color: $dorado;
                a {
                    color: $blanco;
                    text-decoration: none;
                    transition: all 0.5s;
                }
                &:hover {
                    color: $dorado;
                }
            }
        }
    }
}

/* Selector para titulos h1 de las secciones */
.titulo-principal {
    font-family: $ubuntu;
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -5px;
    -webkit-text-stroke-width: 6px;
}

/* Selector para darle relleno superior e inferior a las secciones del sitio */
.seccion {
    @include relleno(2,-1,2,-1);
}

/* Selector de clase para los titulos de las secciones de todas las páginas */
.titulo-seccion {
    @include estilo-texto(italica);
    font-weight: 500;
    font-size: 2.5rem;
    font-family: $crete-round;
    text-align: center;
}

/* Selector de clase para estilar la imagen de fondo de cada sección del sitio */
.fondo-seccion {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    .container {
        height: 100%;
        overflow: hidden;
        justify-content: center;
    }

    &__contenido {
        @include flex(column);
    }
}

/* Asigno estilos a imágenes de fondo de cada sección */
@each $seccion in index, nosotros, menu, sucursales, contacto {
    .fondo-#{$seccion} {
        @extend .fondo-seccion;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/fondos/fondo-#{$seccion}.webp");
    }
}

.icono-subir__contenedor {
    @include flex(row);
    justify-content: flex-end;

    .icono-subir__enlace {
        @include margenes(-1,2,-1,-1);
        display: block;
        transition: all 1s;
        width: 50px;

        &:hover {
            @include rotar(360deg);
        }
    }
}

/* Selectores para estructura del contenido */
.pie-pagina {
    @include relleno(1,-1,1,-1);
    background-color: $negro;
    color: $blanco;
    font-size: 1.2rem;

    &__contenido {
        justify-content: center;
        align-items: center;
    }

    &__seccion {
        @include relleno(2,-1,2,-1);
        @include flex(column);

        &--centrado {
            text-align: center;
        }
    }

    &__texto {
        @include margenes(1,-1,1,-1);
        @include relleno(-1,0,-1,0);
        @include estilo-texto(negrita);
        text-align: center;
    }

    &__redes {
        justify-content: center;
    }

    &__autor {
        justify-content: center;
    }

    &__contenedor-red-social {
        justify-content: center;
        width: 80px;
    }

    &__red-social {
        transition: all 0.5s;

        &:hover {
            @include zoom(20%,20%);
        }
    }

    &__contenedor-logo {
        width: 60%;
        margin: 0 auto;
    }

    &__logo {
        @include relleno(2,-1,2,-1);
        width: 100%;

        &:hover {
            @include zoom(10%,10%);
        }
    }

    &__mapa-sitio {
        @include margenes(1,1,1,1);
        align-self: center;
        a {
            color: $blanco;
            @include estilo-texto(negrita);
        }
    }
}

/* Mapa para cargar logos de redes sociales */
$redesSociales: (
    facebook: "../images/redes_sociales/facebook.png",
    twitter: "../images/redes_sociales/twitter.png",
    instagram: "../images/redes_sociales/instagram.png",
    linkedin: "../images/redes_sociales/linkedin.png",
    whats-app: "../images/redes_sociales/whatsApp.png"
);

/* Bucle que crea una clase para cada red social */
@each $red, $ruta in $redesSociales {
    .#{$red}-logo {
        @extend .pie-pagina__red-social;
        content:url($ruta);
    }
}