/****** Selectores comunes a todos los documentos ******/

/**************************** HEADER ******************************/

/* Selectores para estructura del contenido */
.encabezado {
    font-size: 1rem;
}

.encabezado__navegacion {
    background-color: $negro;
}

.encabezado__contenido {
    width: 100%;
    align-items: center;
}

.encabezado__seccion {
    @include relleno(1,-1,1,-1);
}

.encabezado__seccion--end {
    @include flex(row);
    justify-content: flex-end;
}

/* Selector para logo del sitio */
.encabezado__logo {
    width: 130px;
}

/* Selectores para agrupaciones de enlaces (lista y submenú) */
.encabezado__lista-enlaces {
    padding-inline-start: 0px;
    list-style: none;
}

.encabezado__item-lista:hover {
    background-color: $negro;
    @include estilo-texto(negrita)
}

.encabezado__submenu {
    background-color: $negro;
    width: 230px;
}

/* Selectores para enlaces a diferentes secciones */
.encabezado__enlace {
    @include relleno(-1,-1,-1,3);
    color: $blanco !important;
}

.encabezado__enlace:hover {
    background-color: $negro;
    color: $dorado !important;
    @include estilo-texto(negrita)
}

/* Selector de clase para marcar en el menú qué sección es la actual */
.encabezado__enlace--activo {
    color: $dorado !important; /* Sobreescribe bootstrap */
    @include estilo-texto(negrita);
    @include estilo-texto(subrayado);
    text-underline-offset: 40%;
}

/** Selectores para menú lateral responsive */
.encabezado__menu-lateral{
    background-color: $negro;
    width: 300px;
    .encabezado__submenu li a{
        @include relleno(-1,-1,-1,5);
    }
}

.encabezado__lista-enlaces--margen .show {
    @include margenes(-1,-1,18,-1);
}

/*********************************************************************/

/**************************** CONTENIDO (MAIN) ******************************/

/* Selector para breadcrumb */
.lista-rutas {
    background-color: $blanco;  
    border-top: $border-size $dorado solid; 
    border-bottom: $border-size*1.5 $dorado solid;  
}

.lista-rutas__contenido {
    background-color: $negro;
    
    ol {
        @include margenes(-1,-1,0,-1);
        @include relleno(1,-1,1,2);
        li {
            font-family: $raleway;
            @include estilo-texto(negrita);
            color: $dorado;
            a {
                color: $blanco;
                text-underline-offset: 20%;
                transition: all 0.5s;
            }
            a:hover {
                color: $dorado;
            }
        }
    }
}



/* Selector para titulos h1 de las secciones */
.titulo-principal {
    font-family: $staatliches;
    text-align: center;
    font-size: 7rem;
    font-weight: 300;
    -webkit-text-stroke-width: 6px;
}
/****************************/


/* Selector para fondos de seccion */
.fondo-seccion__contenido {
    @include flex(column);
}

/* Asigno estilos a imágenes de fondo de cada sección */
@each $seccion in index, nosotros, menu, sucursales, contacto {
    .fondo-#{$seccion} {
        @extend .fondo-seccion;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/fondos/fondo-#{$seccion}.webp");
    }
}

/* Selector de clase para estilar la imagen de fondo de cada sección del sitio */
.fondo-seccion {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Selector de clase para contenido dentro del fondo de cada sección */
.fondo-seccion .container {
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

/* Selector de clase para los titulos de las secciones de todas las páginas */
.titulo-seccion {
    @include estilo-texto(italica);
    font-weight: 600;
    font-size: 2.5rem;
    font-family: $raleway;
    text-align: center;
}

/* Selector para darle relleno superior e inferior a las secciones del sitio */
.seccion {
    @include relleno(2,-1,2,-1);
}

/* Selectores de clase para el ícono con flecha hacia arriba para volver al comienzo del documento */
.icono-subir__contenedor {
    @include flex(row);
    justify-content: flex-end;
}

.icono-subir__enlace {
    @include margenes(-1,2,-1,-1);
    display: block;
    transition: all 1s;
    width: 50px;
}

.icono-subir__enlace:hover {
    @include rotar(360deg);
}

/*********************************************************************/

/**************************** FOOTER ******************************/

/* Selectores para estructura del contenido */
.pie-pagina {
    @include relleno(1,-1,1,-1);
    background-color: $negro;
    color: $blanco;
}

.pie-pagina__contenido {
    justify-content: center;
    align-items: center;
}

.pie-pagina__seccion {
    @include relleno(2,-1,2,-1);
    @include flex(column);
}

.pie-pagina__seccion-centrado {
    text-align: center;
}

/* Selector para textos */
.pie-pagina__texto {
    @include margenes(1,-1,1,-1);
    @include estilo-texto(negrita);
    font-size: 1rem;
    text-align: center;
}

/* Selectores para iconos de redes sociales */
.pie-pagina__redes, .pie-pagina__autor {
    justify-content: center;
}

.pie-pagina__contenedor-red-social {
    justify-content: center;
    width: 80px;
}

.pie-pagina__red-social {
    transition: all 0.5s;
}

.pie-pagina__red-social:hover {
    @include zoom(20%,20%);
}

/* Mapa para cargar logos de redes sociales */
$redesSociales: (
    facebook: "../images/redes_sociales/facebook.png",
    twitter: "../images/redes_sociales/twitter.png",
    instagram: "../images/redes_sociales/instagram.png",
    linkedin: "../images/redes_sociales/linkedin.png",
    whats-app: "../images/redes_sociales/whatsApp.png"
);

/* Bucle que crea una clase para cada red social */
@each $red, $ruta in $redesSociales {
    .#{$red}-logo {
        @extend .pie-pagina__red-social;
        content:url($ruta);
    }
} 

/* Selectores para logo */
.pie-pagina__contenedor-logo {
    @include flex(row);
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.pie-pagina__logo {
    @include relleno(2,-1,2,-1);
}

.pie-pagina__mapa-sitio {
    @include margenes(1,1,1,1);
    align-self: center;
    a {
        color: $blanco;
        @include estilo-texto(negrita);
    }
}

/*********************************************************************/