/** Selectores para mapa del sitio **/

/* Selectores para estructurar contenido */
.mapa-sitio {
    @include relleno(12,-1,-1,-1);
}

.mapa-sitio__titulo {
    @extend .titulo-seccion;
    @include margenes(2,-1,2,-1);
    @include estilo-texto(negrita);
    @include estilo-texto(italica);
}

.mapa-sitio__descripcion {
    text-align: center;
}

.mapa-sitio__contenido {
    justify-content: center;
    @include margenes(2,-1,2,-1);
}

/* Selectores para enlaces */
.enlaces {
    @include relleno(-1,3,-1,3);
}

.enlaces__titulo {
    font-size: 2rem;
    a {
        color: $negro;
        text-decoration: none;
    }
    a:hover {
        color: $dorado;
    }
}

/* Selector para lista de enlaces */
.enlaces__lista {
    list-style: disc;
}