/****** Selectores para sección Menú Completo ******/

/** Selector para imagen de fondo con título de la sección **/
.fondo-menu__titulo {
    @extend .titulo-principal;
    color: $dorado;
    -webkit-text-stroke-color: $negro;
}

/** Selectores para sección de Hamburguesas **/
.hamburguesas {
    @extend .seccion;
    text-align: center;
}

.hamburguesas__titulo {
    @extend .titulo-seccion;
    @include relleno(-1,-1,1,-1);
}

.hamburguesas__categoria {
    @include relleno(1,-1,1,-1);
    font-size: 2rem;
    font-family: $work-sans;
    font-weight: 500;
    text-align: center;
}

.hamburguesas__listado {
    justify-content: center;
}

.hamburguesas__nota {
    display: block;
    @include margenes(1,-1,-1,-1);
    @include estilo-texto(negrita);
}

/* Selectores para Líneas de Hamburguesas */
.linea-hamburguesas {
    @extend .seccion;
}

.hamburguesas__clasicas {    
    @extend .linea-hamburguesas;
    background-color: $negro;
    color: $dorado;
}

.hamburguesas__premium {
    @extend .linea-hamburguesas;
    background-color: $blanco;
    color: $negro;
}

.hamburguesas__hambrientas {
    @extend .linea-hamburguesas;
    background-color: $negro;
    color: $dorado;
}

/* Selector de clase con estilos comunes a los article de cada hamburguesa */
.articulo-menu {
    @include relleno(-1,2,-1,2);
    @include flex(column);
    align-items: center;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
}

/** Selectores comunes para cada producto **/
.hamburguesa__nombre {
    @include margenes(2,-1,2,-1);
    font-family: $work-sans;
    font-weight: 700;
}

.hamburguesa__descripcion {
    @include margenes(1,-1,1,-1);
    @include estilo-texto(italica);
}

.hamburguesa__imagen {
    border: solid $border-size $negro;
    border-radius: 5%;
    transition: all 0.2s;
}

.hamburguesa__imagen:hover {
    @include margenes(2,-1,3,-1);
    @include zoom(20%,20%);
}

.hamburguesa__precio {
    @include relleno(0.5,1,0.5,1);
    @include estilo-texto(negrita);
    @include margenes(1,-1,1,-1);
    font-family: $raleway;
    font-size: 1.5rem;
    color: $negro;
    border: solid $border-size $negro;
    background-color: $rojo-intenso;
    border-radius: 10%;
    justify-content: center;
    align-content: center;
}

/** Selectores para cada producto de Línea Clásica **/
.clasica {
    @extend .articulo-menu;
    border: solid $border-size $negro;
    background-color: $dorado;
}

.clasica__nombre {
    @extend .hamburguesa__nombre;
    color: $negro;
}

.clasica__imagen {
    @extend .hamburguesa__imagen;
}

.clasica__descripcion {
    @extend .hamburguesa__descripcion;
    color: $negro;
}

.clasica__precio {
    @extend .hamburguesa__precio;
}

/** Selectores para cada producto de Línea Premium **/
.premium {
    @extend .articulo-menu;
    border: solid $border-size $dorado;
    background-color: $negro;
    color: $dorado;
}

.premium__nombre {
    @extend .hamburguesa__nombre;
}

.premium__imagen {
    @extend .hamburguesa__imagen;
}

.premium__descripcion {
    @extend .hamburguesa__descripcion;
}

.premium__precio {
    @extend .hamburguesa__precio;
}

/** Selectores para cada producto de Línea Hambrienta **/
.hambrienta {
    @extend .articulo-menu;
    border: solid $border-size $negro;
    background-color: $dorado;
}

.hambrienta__nombre {
    @extend .hamburguesa__nombre;
    color: $negro;
}

.hambrienta__imagen {
    @extend .hamburguesa__imagen;
}

.hambrienta__descripcion {
    @extend .hamburguesa__descripcion;
    color: $negro;
}

.hambrienta__precio {
    @extend .hamburguesa__precio;
}

/** Selectores para la sección de Bebidas **/
.bebidas {
    @include relleno(-1,-1,4,-1);
    border-top: solid $border-size*2 $negro;
    background-color: $dorado;
}

.bebidas__titulo {
    @extend .titulo-seccion;
    @include margenes(1,-1,-1,-1);
}

.bebidas__listado {
    @include margenes(3,3,3,3);
    border: solid $border-size*2 $negro;
}

.bebidas__categoria {
    @include relleno(1,-1,1,-1);
    text-align: center;
}

.bebidas__items {
    @include relleno(0,0,0,0);
    font-size: 1.3rem;
}

/** Selectores para los items de las listas de bebidas **/
.bebida {
    @include flex(row);
    justify-content: space-between;
    span {
        @include margenes(-1,3,-1,3);
    }
}

.bebida__precio {
    @include estilo-texto(negrita);
    @include estilo-texto(italica);
}

/************************************************/
