
/* Selectores para responsividad de elementos */
@media only screen and (max-width: 991px){
    .destacada__article {
        width: 90%;
    }

    .donde-encontrarnos__seccion{
        @include margenes(-1,-1,2,-1);
    }

    .historia__columna, .diferentes__columna {
        @include margenes(-1,-1,3,-1);
    }

    .historia__contenido, .diferentes__contenido {
        @include margenes(3,-1,3,-1);
    }

    .opinion {
        @include margenes(-1,-1,3,-1);
    }

    .formulario {
        form {
            width: 80%;
        }
    }

    .pie-pagina__contenedor-logo {
        width: 85%;
    }

    .bebidas__items {
        font-size: 1rem;
    }

    .bebidas__listado {
        width: 100%;
    }

    .articulo-menu {
        @include margenes(-1,-1,3,-1);
        height: auto;
    }

    .hamburguesas__nota {
        @include margenes(0,-1,3,-1);
    }

}

@media only screen and (max-width: 767px){
    .primer-elemento {
        order: -1;
    }

    .destacada__nombre {
        @include margenes(-1,-1,2,-1);
    }

    .pie-pagina__contenedor-logo {
        width: 60%;
    }
}

@media only screen and (max-width: 575px){
    .encabezado__menu-lateral {
        background-color: $negro;
        width: 280px;
    }

    .sucursal__mapa {
        width: 100%;
        height: 300px;
    }

    .titulo-principal {
        font-size: 5rem;
        -webkit-text-stroke-width: 4px;
    }

    .fondo-index__slogan {
        font-size: 3rem;
    }

    .formulario {
        form {
            width: 90%;
        }
    }

    .pie-pagina__contenedor-logo {
        width: 65%;
    }
}

@media only screen and (max-width: 375px){
    /* Adapto grid para móbiles chicos */
    .opinion {
        display: grid;
        grid-template-areas: 
            "nombre"
            "foto"
            "valoracion"
            "texto";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
    }

    .pie-pagina__contenedor-logo {
        width: 80%;
    }

    .bebida {
        @include flex(column);
        align-items: center;
    }

    .bebida__nombre {
        text-align: center;
    }

    .titulo-principal {
        font-size: 4rem;
        -webkit-text-stroke-width: 4px;
    }

    .fondo-index__slogan {
        font-size: 2.5rem;
        -webkit-text-stroke-width: 3px;
    }
}