/*  
    Archivo de utilidades 
    Contiene colores, fuentes, medidas y gradientes utilizados en todo el sitio.
    También incluye mixines para facilitar la inclusión de estilos.
*/

/** Colores **/
$negro: #000000;
$blanco: #ffffff;
$dorado: #ffa500;
$rojo-oscuro: #551313;
$rojo-intenso: rgb(255, 9, 9);
$verde-whats-app: #25d366;
$marron-claro: #b87c0c;

/** Fuentes **/
$ubuntu: 'Ubuntu', sans-serif;
$crete-round: 'Crete Round', serif;
$glory: 'Glory', sans-serif;

/** Gradientes **/
$gradiente-negro: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(67,67,67,1) 50%, rgba(0,0,0,1) 95%);
$gradiente-dorado: linear-gradient(130deg, rgb(255, 255, 255) 0%, rgba(255,165,0,1) 20%, rgba(246,182,66,1) 50%, rgba(255,165,0,1) 80%, rgb(255, 255, 255) 100%);

/** Medidas estándar para márgenes, rellenos y bordes **/
$margin-size: 0.5rem;
$padding-size: 0.5rem;
$border-size: 2px;

/** Mixins **/

/* Aplica un estilo determinado a un texto según el parámetro recibido */
@mixin estilo-texto($tipo){
    @if $tipo == negrita {
        font-weight: bold;
    }
    @else if $tipo == italica {
        font-style: italic;
    }
    @else if $tipo == subrayado {
        text-decoration: underline;
    }
    @else {
        font-style: normal;
    }
}

/* Aplica padding SÓLO en la dirección que se necesite usando múltiplos de la medida base. 
Si el valor es negativo, no se aplica - No contempla valor AUTO */
@mixin relleno($arriba, $derecha, $abajo, $izquierda){
    @if $arriba >= 0 {
        padding-top: $padding-size * $arriba;
    }
    @if $derecha >= 0 {
        padding-right: $padding-size * $derecha;
    }
    @if $abajo >= 0 {
        padding-bottom: $padding-size * $abajo;
    }
    @if $izquierda >= 0 {
        padding-left: $padding-size * $izquierda;
    }
}

/* Aplica margenes SÓLO en la dirección que se necesite usando múltiplos de la medida base. 
Si el valor es negativo, no se aplica - No contempla valor AUTO */
@mixin margenes($arriba, $derecha, $abajo, $izquierda){
    @if $arriba >= 0 {
        margin-top: $margin-size * $arriba;
    }
    @if $derecha >= 0 {
        margin-right: $margin-size * $derecha;
    }
    @if $abajo >= 0 {
        margin-bottom: $margin-size * $abajo;
    }
    @if $izquierda >= 0 {
        margin-left: $margin-size * $izquierda;
    }
}

/* Aplica flexbox en la dirección que sea especificada */
@mixin flex($direccion){
    display: flex;
    flex-direction: $direccion;
}

/* Transformación de rotación - Valor positivo aplica sentido horario, negativo aplica sentido antihorario */
@mixin rotar($grados){
    transform: rotate($grados);
}

/* Transformación de crecimiento - se indica el tamaño del escalado en porcentajes (Ej 10%) */
@mixin zoom($x, $y){
    transform: scale(100 + $x, 100 + $y);
}