/* Colores, fuentes y otros */
@import "utils";

/* Selectores comunes a todos los documentos */
@import "common";

/* Selectores utilizados en sección 'Inicio' */
@import "inicio";

/* Selectores utilizados en sección 'Nosotros' */
@import "nosotros";

/* Selectores utilizados en sección 'Menú Completo' */
@import "menu";

/* Selectores utilizados en sección 'Sucursales' */
@import "sucursales";

/* Selectores utilizados en sección 'Contacto' */
@import "contacto";

/* Selectores utilizados en el Mapa del Sitio */
@import "mapa-sitio";

/* Selectores para responsividad de elementos sin Bootstrap */
@media only screen and (max-width: 991px){
    .destacada__article {
        width: 90%;
    }

    .donde-encontrarnos__seccion{
        @include margenes(-1,-1,2,-1);
    }

    .historia__columna, .diferentes__columna {
        @include margenes(-1,-1,3,-1);
    }

    .historia__contenido, .diferentes__contenido {
        @include margenes(3,-1,3,-1);
    }

    .opinion {
        @include margenes(-1,-1,3,-1);
    }

    .formulario {
        form {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 767px){
    .primer-elemento {
        order: -1;
    }

    .destacada__nombre {
        @include margenes(-1,-1,2,-1);
    }
}

@media only screen and (max-width: 575px){
    .encabezado__menu-lateral {
        background-color: $negro;
        width: 280px;
    }

    .sucursal__mapa {
        width: 100%;
        height: 300px;
    }

    .titulo-principal {
        font-size: 5rem;
    }

    .fondo-index__slogan {
        font-size: 3rem;
    }

    .formulario {
        form {
            width: 90%;
        }
    }
    
}

@media only screen and (max-width: 375px){
    /* Adapto grid para móbiles chicos */
    .opinion {
        display: grid;
        grid-template-areas: 
            "nombre"
            "foto"
            "valoracion"
            "texto";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
    }
}