@charset "UTF-8";
/* Colores, fuentes y otros */
/* Archivo con colores y fuentes */
/** Colores **/
/** Fuentes **/
/** Medidas estándar para márgenes, rellenos y bordes **/
/* Mixin que aplica un estilo determinado a un texto según el parámetro recibido */
/* Aplica padding SÓLO en la dirección que se necesite usando múltiplos de la medida base. 
Si el valor es negativo, no se aplica - No contempla valor AUTO */
/* Aplica margenes SÓLO en la dirección que se necesite usando múltiplos de la medida base. 
Si el valor es negativo, no se aplica - No contempla valor AUTO */
/* Aplica flexbox en la dirección que sea especificada */
/* Transformaciones */
/* Selectores comunes a todos los documentos */
/****** Selectores comunes a todos los documentos ******/
/* Selector universal, asigna fuente por defecto para todos los textos.
Se aplican fuentes en titulos y subtitulos sobreescribiendo la fuente base */
* {
  font-family: "Glory", sans-serif; }

/* Agrego selector para todos los documentos, para incluir un scroll a la 
hora de acceder a secciones vía anclas */
html {
  scroll-padding-top: 5.5rem; }

/**************************** HEADER ******************************/
/* Selectores para estructura del contenido */
.encabezado {
  font-size: 1.3rem; }
  .encabezado__navegacion {
    background-color: #000000; }
    .encabezado__navegacion .container {
      justify-content: center; }
  .encabezado__seccion {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .encabezado__seccion--end {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
  .encabezado__contenido {
    width: 100%;
    align-items: center; }
  .encabezado__lista-enlaces {
    padding-inline-start: 0px;
    list-style: none; }
  .encabezado__logo {
    width: 130px; }
    .encabezado__logo:hover {
      transform: scale(105%, 105%); }
  .encabezado__submenu {
    background-color: #000000;
    width: 250px;
    font-size: 1.3rem; }
  .encabezado__enlace {
    padding-left: 1.5rem;
    font-weight: bold;
    color: #ffffff !important; }
    .encabezado__enlace:hover {
      background-color: #000000;
      color: #ffa500 !important; }
    .encabezado__enlace--activo {
      color: #ffa500 !important;
      /* Sobreescribe bootstrap */
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 40%; }
  .encabezado__menu-lateral {
    background-color: #000000;
    width: 320px; }
  .encabezado__submenu li a {
    padding-left: 2.5rem; }
  .encabezado__lista-enlaces--margen .show {
    margin-bottom: 11rem; }

.lista-rutas {
  background-color: #ffffff;
  border-top: 2px #ffa500 solid;
  border-bottom: 3px #ffa500 solid; }
  .lista-rutas__contenido {
    background-color: #000000;
    text-transform: uppercase; }
    .lista-rutas__contenido ol {
      margin-bottom: 0rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem; }
      .lista-rutas__contenido ol li {
        font-weight: bold;
        font-size: 1.3rem;
        color: #ffa500; }
        .lista-rutas__contenido ol li a {
          color: #ffffff;
          text-decoration: none;
          transition: all 0.5s; }
        .lista-rutas__contenido ol li:hover {
          color: #ffa500; }

/* Selector para titulos h1 de las secciones */
.titulo-principal, .fondo-index__titulo, .fondo-index__slogan, .fondo-nosotros__titulo, .fondo-menu__titulo, .fondo-sucursales__titulo, .fondo-contacto__titulo {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -5px;
  -webkit-text-stroke-width: 6px; }

/* Selector para darle relleno superior e inferior a las secciones del sitio */
.seccion, .visitarnos, .destacadas, .donde-encontrarnos, .historia, .diferentes, .recomendaciones, .sucursales, .metodos-pago, .formulario, .whats-app {
  padding-top: 1rem;
  padding-bottom: 1rem; }

/* Selector de clase para los titulos de las secciones de todas las páginas */
.titulo-seccion, .visitarnos__titulo, .destacadas__titulo, .donde-encontrarnos__titulo, .historia__titulo, .diferentes__titulo, .recomendaciones__titulo, .hamburguesas__titulo, .bebidas__titulo, .sucursales__titulo, .metodos-pago__titulo, .formulario__titulo, .whats-app__titulo, .mapa-sitio__titulo {
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  font-family: "Crete Round", serif;
  text-align: center; }

/* Selector de clase para estilar la imagen de fondo de cada sección del sitio */
.fondo-seccion, .fondo-index, .fondo-nosotros, .fondo-menu, .fondo-sucursales, .fondo-contacto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }
  .fondo-seccion .container, .fondo-index .container, .fondo-nosotros .container, .fondo-menu .container, .fondo-sucursales .container, .fondo-contacto .container {
    height: 100%;
    overflow: hidden;
    justify-content: center; }
  .fondo-seccion__contenido {
    display: flex;
    flex-direction: column; }

/* Asigno estilos a imágenes de fondo de cada sección */
.fondo-index {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondos/fondo-index.webp"); }

.fondo-nosotros {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondos/fondo-nosotros.webp"); }

.fondo-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondos/fondo-menu.webp"); }

.fondo-sucursales {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondos/fondo-sucursales.webp"); }

.fondo-contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fondos/fondo-contacto.webp"); }

.icono-subir__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .icono-subir__contenedor .icono-subir__enlace {
    margin-right: 1rem;
    display: block;
    transition: all 1s;
    width: 50px; }
    .icono-subir__contenedor .icono-subir__enlace:hover {
      transform: rotate(360deg); }

/* Selectores para estructura del contenido */
.pie-pagina {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem; }
  .pie-pagina__contenido {
    justify-content: center;
    align-items: center; }
  .pie-pagina__seccion {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column; }
    .pie-pagina__seccion--centrado {
      text-align: center; }
  .pie-pagina__texto {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 0rem;
    padding-left: 0rem;
    font-weight: bold;
    text-align: center; }
  .pie-pagina__redes {
    justify-content: center; }
  .pie-pagina__autor {
    justify-content: center; }
  .pie-pagina__contenedor-red-social {
    justify-content: center;
    width: 80px; }
  .pie-pagina__red-social, .facebook-logo, .twitter-logo, .instagram-logo, .linkedin-logo, .whats-app-logo {
    transition: all 0.5s; }
    .pie-pagina__red-social:hover, .facebook-logo:hover, .twitter-logo:hover, .instagram-logo:hover, .linkedin-logo:hover, .whats-app-logo:hover {
      transform: scale(120%, 120%); }
  .pie-pagina__contenedor-logo {
    width: 60%;
    margin: 0 auto; }
  .pie-pagina__logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%; }
    .pie-pagina__logo:hover {
      transform: scale(110%, 110%); }
  .pie-pagina__mapa-sitio {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    align-self: center; }
    .pie-pagina__mapa-sitio a {
      color: #ffffff;
      font-weight: bold; }

/* Mapa para cargar logos de redes sociales */
/* Bucle que crea una clase para cada red social */
.facebook-logo {
  content: url("../images/redes_sociales/facebook.png"); }

.twitter-logo {
  content: url("../images/redes_sociales/twitter.png"); }

.instagram-logo {
  content: url("../images/redes_sociales/instagram.png"); }

.linkedin-logo {
  content: url("../images/redes_sociales/linkedin.png"); }

.whats-app-logo {
  content: url("../images/redes_sociales/whatsApp.png"); }

/* Selectores utilizados en sección 'Inicio' */
/****** Selectores para sección Inicio ******/
/** Selectores para los botones que navegan a otros documentos del sitio **/
.boton-navegacion, .visitarnos__boton, .destacadas__boton, .donde-encontrarnos__boton {
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  transition: all 0.5s;
  border-radius: 20px;
  max-width: 250px;
  margin: 0 auto;
  font-size: 1.2rem; }
  .boton-navegacion:hover, .visitarnos__boton:hover, .destacadas__boton:hover, .donde-encontrarnos__boton:hover {
    transform: scale(120%, 120%); }

/*** Selectores para imagen de fondo, título y slogan del documento ***/
.fondo-index__titulo {
  color: #ffa500;
  -webkit-text-stroke-color: #000000; }

.fondo-index__slogan {
  -webkit-text-stroke: 4px #000000;
  color: #ffa500;
  font-size: 3.5rem;
  letter-spacing: -2px; }

/*** Selectores para seccion 'Por qué visitarnos?' ***/
.visitarnos {
  background-color: #ffffff; }
  .visitarnos__fila {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center; }
  .visitarnos__titulo {
    margin-bottom: 0rem; }
  .visitarnos__imagen {
    border: solid 4px #000000; }
  .visitarnos__texto {
    margin-bottom: 0rem;
    text-align: center;
    font-size: 1.3rem; }
    .visitarnos__texto strong {
      font-size: 1.5rem; }
  .visitarnos__boton {
    color: #ffffff;
    border-color: #000000;
    background-color: #000000; }
    .visitarnos__boton:hover {
      color: #ffffff; }

/*** Selectores para seccion 'Nuestras destacadas del mes' ***/
.destacadas {
  color: #ffa500;
  background: #000000;
  background: linear-gradient(90deg, black 5%, #434343 50%, black 95%); }
  .destacadas__fila {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center; }
  .destacadas__titulo {
    margin-bottom: 0rem; }
  .destacadas__boton {
    color: #000000;
    border-color: #ffa500;
    background-color: #ffa500; }
    .destacadas__boton:hover {
      color: #000000; }

/** Selectores para cada producto destacado **/
.destacada {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .destacada__article {
    width: 75%;
    text-align: center; }
  .destacada__imagen {
    border: solid 2px #ffa500;
    border-radius: 80px;
    transition: all 0.2s; }
    .destacada__imagen:hover {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      transform: scale(110%, 110%); }
  .destacada__nombre {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 1.5rem; }

/*** Selectores para sección '¿Dónde encontrarnos?' ***/
.donde-encontrarnos {
  background: linear-gradient(130deg, white 0%, orange 20%, #f6b642 50%, orange 80%, white 100%); }
  .donde-encontrarnos__fila {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center; }
  .donde-encontrarnos__seccion {
    padding-right: 1rem;
    padding-left: 1rem; }
    .donde-encontrarnos__seccion .row {
      margin-top: 1rem;
      margin-bottom: 1rem;
      justify-content: center; }
  .donde-encontrarnos__subtitulo {
    margin-bottom: 0rem;
    text-align: center;
    font-family: "Ubuntu", sans-serif; }
  .donde-encontrarnos__texto {
    text-align: center;
    font-size: 1.3rem; }
  .donde-encontrarnos__contenedor-imagen {
    border: solid 2px #000000; }
  .donde-encontrarnos__boton {
    color: #ffa500;
    border-color: #000000;
    background-color: #000000; }
    .donde-encontrarnos__boton:hover {
      color: #ffa500; }

/* Selectores utilizados en sección 'Nosotros' */
/****** Selectores para sección Nosotros ******/
/*** Selectores para imagen de fondo con título de la sección ***/
.fondo-nosotros__titulo {
  color: #ffffff;
  -webkit-text-stroke-color: #000000; }

/*** Selectores para sección 'Nuestra historia', y algunos para '¿Qué nos hace diferentes?' ***/
.historia {
  background-color: #ffffff; }
  .historia__contenido {
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center; }
  .historia__columna {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
  .historia__titulo {
    margin-bottom: 1.5rem; }
  .historia__texto {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: start; }
  .historia__imagen {
    border: solid 4px #000000; }

/*** Selectores para sección '¿Qué nos hace diferentes?' ***/
.diferentes {
  background-color: #000000;
  color: #ffa500;
  background: linear-gradient(90deg, black 5%, #434343 50%, black 95%); }
  .diferentes__contenido {
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center; }
  .diferentes__columna {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
  .diferentes__titulo {
    margin-bottom: 1.5rem; }
  .diferentes__texto {
    margin-bottom: 0.5rem;
    text-align: end;
    color: #ffffff;
    font-size: 1.2rem; }
  .diferentes__imagen {
    border: solid 4px #000000; }

/*** Selectores para sección 'Opiniones de nuestros clientes' ***/
/* Selector para section */
.recomendaciones {
  background: linear-gradient(130deg, white 0%, orange 20%, #f6b642 50%, orange 80%, white 100%); }
  .recomendaciones__fila {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center; }
  .recomendaciones__titulo {
    margin-bottom: 0rem; }

.opinion {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border: solid 2px #b87c0c;
  background-color: #000000;
  display: grid;
  grid-template-areas: "foto nombre" "foto valoracion" "texto texto";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  align-content: end;
  text-align: center; }
  .opinion__imagen {
    height: 125px;
    width: 125px;
    grid-area: foto; }
    .opinion__imagen img {
      border: solid 2px #ffa500;
      border-radius: 100%;
      height: 100%; }
  .opinion__nombre {
    margin-top: 1.5rem;
    font-style: italic;
    grid-area: nombre; }
    .opinion__nombre h3 {
      color: #ffa500;
      font-family: "Glory", sans-serif;
      font-size: 1.5rem; }
  .opinion__valoracion {
    grid-area: valoracion; }
    .opinion__valoracion span {
      display: block;
      margin-top: 0.5rem;
      text-align: center;
      color: #ffa500;
      font-family: "Glory", sans-serif;
      font-size: 1.4rem; }
    .opinion__valoracion img {
      width: 15%; }
  .opinion__texto {
    margin-top: 0.5rem;
    grid-area: texto;
    padding-left: 5%;
    padding-right: 5%; }
    .opinion__texto p {
      font-size: 1.2rem;
      color: #ffffff;
      font-style: italic; }

/* Selectores utilizados en sección 'Menú Completo' */
/****** Selectores para sección Menú Completo ******/
/** Selector para imagen de fondo con título de la sección **/
.fondo-menu__titulo {
  color: #ffa500;
  -webkit-text-stroke-color: #000000; }

/** Selectores para sección de Hamburguesas **/
.hamburguesas {
  background: linear-gradient(90deg, black 5%, #434343 50%, black 95%);
  border-bottom: solid 2px #000000;
  text-align: center; }

.hamburguesas__titulo {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #000000;
  background-color: #ffffff; }

.hamburguesas__categoria {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: "Glory", sans-serif;
  font-weight: 700;
  text-align: center; }

.hamburguesas__listado {
  justify-content: center; }

.hamburguesas__nota {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #ffa500;
  font-size: 1.4rem; }

/* Selectores para Líneas de Hamburguesas */
.hamburguesas__clasicas, .hamburguesas__premium, .hamburguesas__hambrientas {
  color: #ffa500; }

/* Selector de clase con estilos comunes a los article de cada hamburguesa */
.articulo-menu, .clasica, .premium, .hambrienta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  border-radius: 30px; }

/** Selectores comunes para cada producto **/
.hamburguesa__nombre, .clasica__nombre, .premium__nombre, .hambrienta__nombre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.5rem; }

.hamburguesa__descripcion, .clasica__descripcion, .premium__descripcion, .hambrienta__descripcion {
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
  font-size: 1.2rem; }

.hamburguesa__imagen, .clasica__imagen, .premium__imagen, .hambrienta__imagen {
  transition: all 0.2s;
  filter: brightness(0.75); }

.hamburguesa__imagen:hover, .clasica__imagen:hover, .premium__imagen:hover, .hambrienta__imagen:hover {
  filter: brightness(1); }

.hamburguesa__contenedor-imagen {
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000; }

.hamburguesa__precio, .clasica__precio, .premium__precio, .hambrienta__precio {
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Glory", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  border: solid 2px #000000;
  background-color: #ff0909;
  border-radius: 10%;
  justify-content: center;
  align-content: center; }

/** Selectores para cada producto de Línea Clásica **/
.clasica {
  border: solid 2px #000000;
  background-color: #ffa500; }

.clasica__nombre {
  color: #000000; }

.clasica__descripcion {
  color: #000000; }

/** Selectores para cada producto de Línea Premium **/
.premium {
  border: solid 2px #ffa500;
  background-color: #000000;
  color: #ffa500; }

/** Selectores para cada producto de Línea Hambrienta **/
.hambrienta {
  border: solid 2px #000000;
  background-color: #ffa500; }

.hambrienta__nombre {
  color: #000000; }

.hambrienta__descripcion {
  color: #000000; }

/** Selectores para la sección de Bebidas **/
.bebidas {
  padding-bottom: 1rem;
  border-top: solid 2px #000000;
  background: linear-gradient(130deg, white 0%, orange 20%, #f6b642 50%, orange 80%, white 100%); }

.bebidas__titulo {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.bebidas__listado {
  width: 90%;
  margin: 0 auto;
  border: solid 4px #000000;
  background: linear-gradient(90deg, black 5%, #434343 50%, black 95%); }

.bebidas__fila {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.bebidas__categoria {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  color: #ffa500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; }

.bebidas__items {
  padding-bottom: 0rem;
  padding-left: 0rem; }

/** Selectores para los items de las listas de bebidas **/
.bebida {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-between; }
  .bebida span {
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem; }

.bebida__nombre {
  color: #ffffff; }

.bebida__precio {
  font-weight: bold;
  font-style: italic;
  color: #ffa500; }

/************************************************/
/* Selectores utilizados en sección 'Sucursales' */
/****** Selectores para sección Sucursales ******/
/*** Selectores para imagen de fondo con título de la sección ***/
.fondo-sucursales__titulo {
  color: #ffffff;
  -webkit-text-stroke-color: #000000; }

/*** Selectores para sección con las sucursales en acordeón ***/
/** Selectores para estructurar contenido del section **/
.sucursales {
  background-color: #ffffff; }

.sucursales__titulo {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600; }

/** Selectores para el acordeón con las sucursales **/
/* Sobreescribe estilos de bootstrap */
.accordion {
  margin-bottom: 1.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .accordion h4, .accordion h5 {
    margin-bottom: 0rem; }

.accordion-button:focus {
  border-color: #000000;
  border-width: 4px;
  box-shadow: 0 0 0 0 #000000; }

.accordion-collapse {
  border: solid 2px #000000; }

/** Selector para los nombres de las sucursales cuando están colapsadas en el acordeón **/
.accordion-button__titulo {
  font-weight: 600;
  font-family: "Glory", sans-serif;
  font-size: 1.7rem;
  color: #ffffff !important;
  border: #000000 solid 2px;
  background-color: #000000 !important; }

.accordion-button__titulo:hover {
  color: #ffa500 !important; }

/** Selectores para estructurar contenido dentro de cada item del acordeon **/
.sucursal {
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem; }

.sucursal__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sucursal__categoria {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.sucursal__categoria--centrada {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.sucursal__tipo-categoria {
  display: flex;
  flex-direction: row;
  align-items: center; }

/** Selectores para datos de la sucursal **/
.sucursal__nombre {
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 1.7rem; }

.sucursal__info {
  color: #551313;
  font-size: 1.5rem;
  font-style: italic; }

.sucursal__dato {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem; }

/* Selector para asignar tamaño a los iconos en el detalle de las sucursales */
.sucursal__icono {
  margin-right: 1rem;
  width: 25px; }

/* Selector para los iframe de Google Maps */
.sucursal__mapa {
  width: 100%; }

/** Selectores para listas con las formas de entrega **/
.formas-entrega {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  list-style-type: circle;
  color: #000000; }

.formas-entrega__forma {
  font-size: 1.3rem; }

/*** Selectores para sección 'Métodos de Pago' ***/
/** Selectores para estructurar contenido dentro del section **/
.metodos-pago {
  border-top: solid 2px #000000;
  text-align: center;
  background: linear-gradient(130deg, white 0%, orange 20%, #f6b642 50%, orange 80%, white 100%); }

.metodos-pago__fila {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center; }

.metodos-pago__contenido {
  padding-right: 2rem;
  padding-left: 2rem; }

.metodos-pago__titulo {
  padding-bottom: 0rem;
  font-weight: 600; }

.metodos-pago__descripcion {
  padding-top: 1rem;
  padding-bottom: 0rem;
  text-align: center;
  font-size: 1.3rem; }

/* Selector para caja contenedora de métodos de pago */
.listado-metodos {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: linear-gradient(90deg, #0b0b0b 1%, #4b4b4b 50%, #0b0b0b 99%);
  border: solid 4px #000000;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

/** Selectores para estructurar contenido de cada article **/
.metodo-pago {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.metodo-pago__tipo {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffa500;
  font-size: 1.7rem;
  font-family: "Glory", sans-serif; }

/* Selector para imágenes de métodos de pago, por ej: Logo de Visa*/
.metodo-pago__logo {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 60px; }

/************************************************/
/* Selectores utilizados en sección 'Contacto' */
/****** Selectores para sección Contacto ******/
/** Selectores para imagen de fondo con título de la sección **/
.fondo-contacto__titulo {
  color: #ffa500;
  -webkit-text-stroke-color: #000000; }

/*** Selectores para section con formulario ***/
/** Selectores para estructura contenido del formulario **/
.formulario form {
  border: solid 4px #ffa500;
  border-radius: 10px;
  margin: 0 auto;
  width: 60%;
  color: #ffa500;
  background-color: #000000;
  text-align: start;
  font-size: 1.3rem; }
  .formulario form span {
    display: block;
    text-align: center; }
  .formulario form input, .formulario form select, .formulario form textarea {
    background-color: #000000;
    border: solid 2px #ffa500;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.3rem; }
    .formulario form input:focus, .formulario form select:focus, .formulario form textarea:focus {
      background-color: #000000;
      border: solid 2px #ffa500;
      color: #ffffff; }

.formulario__fila {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.formulario__titulo {
  margin-bottom: 0rem; }

.formulario__parrafo {
  text-align: center;
  font-size: 1.3rem; }
  .formulario__parrafo em {
    text-decoration: underline; }

/** Selectores para los campos dentro del formulario **/
.campo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-left: auto;
  margin-right: auto; }
  .campo .form-check-input {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem; }
  .campo div {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 0.5rem; }

.campo__label {
  display: inline; }

/** Selectores botones de Enviar y Limpiar Campos **/
.botones {
  justify-content: center; }

.botones__contenedor {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.botones__boton {
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 1.3rem;
  background-color: #ffa500;
  border: solid 2px #000000;
  color: #000000;
  font-family: "Glory", sans-serif;
  width: 80%; }

.botones__boton:hover {
  transform: scale(110%, 110%); }

/*** Selectores para la sección de contacto por WhatsApp ***/
.whats-app__link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 50px; }

.whats-app__titulo {
  font-weight: bold; }

.whats-app__fila {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.whats-app__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.whats-app__texto {
  color: #25d366; }

/************************************************/
/* Selectores utilizados en el Mapa del Sitio */
/** Selectores para mapa del sitio **/
/* Selectores para estructurar contenido */
.mapa-sitio {
  padding-top: 6rem; }

.mapa-sitio__titulo {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-style: italic; }

.mapa-sitio__descripcion {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  text-align: center; }

.mapa-sitio__contenido {
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Selectores para enlaces */
.enlaces {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.enlaces__titulo {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .enlaces__titulo a {
    color: #000000;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem; }
  .enlaces__titulo a:hover {
    color: #ffa500; }

/* Selector para lista de enlaces */
.enlaces__lista {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: disc;
  font-size: 1.3rem; }
  .enlaces__lista ul {
    list-style: disc; }

/* Selectores para adaptar elementos a pantallas de distintos dispositivos */
/* Selectores para responsividad de elementos */
@media only screen and (max-width: 991px) {
  .destacada__article {
    width: 90%; }
  .donde-encontrarnos__seccion {
    margin-bottom: 1rem; }
  .historia__columna, .diferentes__columna {
    margin-bottom: 1.5rem; }
  .historia__contenido, .diferentes__contenido {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .opinion {
    margin-bottom: 1.5rem; }
  .formulario form {
    width: 80%; }
  .pie-pagina__contenedor-logo {
    width: 85%; }
  .bebidas__listado {
    width: 100%; }
  .bebida {
    font-size: 1.3rem; }
  .articulo-menu, .clasica, .premium, .hambrienta {
    margin-bottom: 1.5rem;
    height: auto; }
  .hamburguesas__nota {
    margin-top: 0rem;
    margin-bottom: 1.5rem; } }

@media only screen and (max-width: 767px) {
  .titulo-principal, .fondo-index__titulo, .fondo-index__slogan, .fondo-nosotros__titulo, .fondo-menu__titulo, .fondo-sucursales__titulo, .fondo-contacto__titulo {
    font-size: 5rem;
    -webkit-text-stroke-width: 5px; }
  .fondo-index__slogan {
    font-size: 3rem;
    -webkit-text-stroke-width: 4px; }
  .primer-elemento {
    order: -1; }
  .destacada__nombre {
    margin-bottom: 1rem; }
  .pie-pagina__contenedor-logo {
    width: 60%; }
  .bebidas__listado {
    width: 90%; } }

@media only screen and (max-width: 575px) {
  .encabezado__menu-lateral {
    background-color: #000000;
    width: 280px; }
  .sucursal__mapa {
    width: 100%;
    height: 300px; }
  .titulo-principal, .fondo-index__titulo, .fondo-index__slogan, .fondo-nosotros__titulo, .fondo-menu__titulo, .fondo-sucursales__titulo, .fondo-contacto__titulo {
    font-size: 4rem;
    -webkit-text-stroke-width: 4px; }
  .fondo-index__slogan {
    font-size: 3rem;
    -webkit-text-stroke-width: 4px; }
  .formulario form {
    width: 90%; }
  .pie-pagina__contenedor-logo {
    width: 65%; } }

@media only screen and (max-width: 375px) {
  /* Adapto grid para móbiles chicos */
  .opinion {
    display: grid;
    grid-template-areas: "nombre" "foto" "valoracion" "texto";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr; }
  .pie-pagina__contenedor-logo {
    width: 80%; }
  .bebida {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem; }
  .bebida__nombre {
    text-align: center; }
  .titulo-principal, .fondo-index__titulo, .fondo-index__slogan, .fondo-nosotros__titulo, .fondo-menu__titulo, .fondo-sucursales__titulo, .fondo-contacto__titulo {
    font-size: 3rem;
    -webkit-text-stroke-width: 3px; }
  .fondo-index__slogan {
    font-size: 2rem;
    -webkit-text-stroke-width: 2px; } }
